absl-py==0.4.0
astor==0.7.1
backports.weakref==1.0.post1
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.14.1
hanziconv==0.3.2
Lasagne==0.1
layer==0.1.14
Markdown==2.6.11
mock==2.0.0
numpy==1.14.5
OpenCC==0.2
pbr==4.2.0
protobuf==3.6.1
pyhs2==0.6.0
sasl==0.2.1
scikit-learn==0.19.2
scikit-neuralnetwork==0.7
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
Theano==1.0.2
thrift==0.11.0
virtualenv==16.0.0
Werkzeug==0.14.1
plotly
pandas
dash
pydrive
